html, body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgrey;
  height: 100%;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.card {
  background-color: whitesmoke;
  border-radius: 15px;
  box-shadow: 5px 5px 10px gray; 
  margin: 10px 30px;
  padding: 30px;
  text-align: center;
}

.footer {
  margin-top: auto;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
